@import "tailwindcss";

.scrollbar-hide::-webkit-scrollbar {
    display: none;
}
  
.scrollbar-hide {
-ms-overflow-style: none;  
scrollbar-width: none;  
}

.section {
  @apply w-full h-[900px] py-30;
}
.section-sub {
    @apply w-full h-full py-10 text-black;
}
.next-button {
    @apply w-1/2 md:w-1/5 flex items-center justify-center p-3 rounded-[30px] text-[17px] outline-2 font-thin tracking-widest;
}
.section-info-question {
    @apply font-light tracking-widest text-[15px] text-center italic opacity-50;
}
.ingredient-button {
    @apply flex items-center justify-center cursor-pointer ml-10;
}

.next-section-button {
    @apply w-2/3 md:w-1/5 flex items-center justify-center p-3 rounded-[30px] text-[17px] font-thin tracking-widest bg-black text-white;
}
